html, body {
	background-image: inherit;
font-family: 'Mako', sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
	1height: 100%;
}

html {
    overflow: auto;
}
body {
    position: absolute;
    top: 65px;
    left: 10px;
    bottom: 50px;
    right: 10px;
    padding: 0px; 
    overflow-y: scroll;
    overflow-x: hidden;
}



#viewprojectcontent ul.thumbs {
	text-align: left;
	margin-right: -100px;
	margin-top: 1em;
	  
	
}

/*
	font-family: 'Ubuntu Mono';
font-family: 'Actor', sans-serif;
font-family: 'Molengo', sans-serif;
font-family: 'Nobile', sans-serif;
*/

123 {
	border: 1px solid #ffa100;
}

ul.thumbs img { 	
	max-height: 136px;
	/*max-height: 76px;*/
	margin-left: 5px;
	margin-right: 5px;
	height: expression(this.scrollHeight > 75 ? "76px" : "auto");
 

}

#maindiv {
	position: relative;
	float: none;
	margin-left: auto;
	margin-right: auto;
	display: block;

	height: auto !important;
	/* real browsers */
	1height: 100%;
	/* IE6: treaded as min-height*/

	1min-height: 94%;
}

#header {
	position: relative;
	width: 100%;
	left: 0;
	display: block;
	float: left;
	margin-bottom: 10px;
	/*margin-top: 50px;*/
}

#mainmenu {
	width: 100%;
	left: 20;
	border: 0px solid #000000;
	margin-top: 0px;
}

ul {
	font-style: normal;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

#ul2 a {
	display: inline-block;
	font-size: .8em;
	background-color: white;
}

#ul2 a:nth-child(n+2) li {
	margin-left: 20px;
}

.horizontalmenu {
	list-style-type: none;
	margin-right: 20px;
	font-size: 0.9em;
	line-height: 1.3em;
	display: inline;
}

ul, menu, dir {
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

a, a.link, a.visited, a.hover {
	color: #000000;
	text-decoration: none;
	border: 0;
}

p a {
	color: #000000;
	text-decoration: underline;
	border: 0;
}

a img {
	border: 0;
}

a:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: 0;
}

#content {
	padding-top: 10px;
	clear: left;
	padding-bottom: 100px;
	padding-right: 10%;
}

#content.homepage {
	padding-bottom: 50px;
}

#viewprojectcontent {

}

#footer {
	margin-top: -20px;
	padding-top: 10px;
	padding-bottom: 15px;
	clear: both;
	background-color: white;
	position: fixed;
	bottom: 0px;
	width: 100%;
	z-index: 9999;
	border-top: 0px solid silver;
}

#footer a{
	font-size: .75em;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.right {
	margin-right: 0;
	right: 0;
}

.low2 {
	top: 2px;
}

.pagewidth {
	width: 90%;
	max-width: 1950px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}


img.fill {
	width: auto;
	height: 550px;
}





#viewprojectcontent #thumbs {
width: 700px;
	  
	
}

ul.thumbs *{
display: inline;
}

ul.software img { 	
	max-height: 42px;
	/*max-height: 76px;*/
	margin-left: 5px;
	margin-right: 5px;
	height: expression(this.scrollHeight > 41 ? "42px" : "auto");
 

}

ul.project img { 	
	max-height: 40px;
	margin-left: 0px;
	margin-right: 0px; 
}

#slideshow  {
	position: relative;
	width: 720px;
	height: 450px;
}
#slideshow * {
	position: absolute;
}

/*#thumbs ul.thumbs img { 	

	margin-bottom: 15px;
}*/

ul.thumbswcaption img { 	

	margin-top: 15px;
}

ul.project li a:after {
	content: '';
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-right: 10px;
	padding-top: 0px;
	width: auto;
	background: white;
	line-height: 1.1em;
	font-size: .6em;
	z-index: 900;
	margin-bottom: 3px;

}

123ul.thumbs li.selected a:after {
	content: '>';

}

#emailform{
	width: 100%;
	height: 200px;
}

ul.thumbs li {
	opacity: 1;
}
ul.thumbs li.selected img {
	opacity: 0.4;
}

ul.project li a:hover {
	opacity: 0.5;
	background: white;
	color: black;
	z-index: 899;
}

/*ul.thumbs li a:hover img{
	border: 1px solid gray;
	left: -1px;
	top: -1px;
	position: relative;
}

ul.thumbs li a img{
	border: 1px solid #fff;
	left: -1px;
	top: -1px;
	position: relative;
}*/
ul.thumbs li  {
	position: relative;
}



ul.thumbs span {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 0;
}

input[type=text], input[type=password] {
	margin:  0;
	padding: 0;
	border: 1px solid #797979;
	height: 1.6em;
	
}

.inputlabel {
	font-size: .9em;
margin-bottom: 1em;
display: block;
}

.inputlabel input, .inputlabel textarea{
	position: absolute;
	left: 80px;
}

.inputlabel input, .inputlabel textarea{
	width: 200px;
}

span.textarea{
	position: static;
	height: 80px;
}
.inputlabel label{
	vertical-align: top;
}

.inputbefore{
		font-style: italic;
	color: silver;
}

span.button input{

}

a.ptendefr, a.ptendefr li{
	display: none; !important;
}

li.footermenu.right{
	display: none; !important;
}

.ontop{
	z-index: 999;
}

div#searchheader{

	width: 100%;
}

p.search{
	display: inline; 
	margin-left:0em;
	background-color: white;
	-webkit-margin-before: 0em;
	-webkit-margin-start: 0em;
	padding-left: 0.5em;
	padding-right: 1em;
	
}

#dosearch{
	display: inline;
}

#logo a{
	display: block;
	padding-bottom: 10px;
	padding-top: 15px;
	/*position: fixed;*/
	/*top: 5px;*/
}

#logo {
	z-index: 999;
	position: fixed;
	top: 0;
	height: 57px;
}

#logo0 {
	z-index: 999;
	width: 122px;
	
	height: 57px;
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.fillWhite {
		background-color: white;
	width: 100%;
}

.wide{
	width: 100%;	
}
.spacer{
	width: 100%;
	height: 10px;
	display: block;
	position: relative;
	background-color: white;
	
}
.shadow{
	position: fixed;
	left: 0;
	width: 100%;
	opacity: 1;
	display: none;
	pointer-events: none;
}
#shadowtop{
	height: 100px;
	top: 91px;
}

#shadowbottom{

	bottom: 42px;
}

.shadow img{
	width: 100%;
	
}

#shadowbottom img {
	position: relative;

}

#copyright{
	font-size: .8em;
	margin-top: 3em;
}

#loginlink {
	padding-left: 4em;
}

#endcontent{
	height: 0;
	width: 1px;
	position: relative;
}

#meter{
	font-style: italic;
	color: gray;
	font-size: .65em;
	display: 1none;
}
#meter{
	font-style: italic;
	color: gray;
	font-size: .65em;
	display: 1none;
}
h2 {
	margin-top: 1em;
	margin-bottom: 0.3em;
	margin-right: .5em;
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1.3em;

}


h3 {
	margin-top: 2em;
	margin-bottom: 0.3em;
	margin-right: .5em;
	display: inline-block;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	font-size: 1em;

}

.nocaps{
	text-transform: lowercase;
	font-size: .7em;
}
.nobottommargin{
	margin-bottom: 0 !important;
}

/*h1, h2, h3, p{
	-webkit-margin-before:0;
	-webkit-margin-after:0;
}*/
p{
	
	width: 100%;
	line-height: 1.6em;
	font-size: .9em;
	margin-bottom: 0.7em;
	margin-top: 0;
}

span.fillform {
	font-style: italic;
	text-decoration: underline;
	cursor: hand;
}

.columns1{
	clear: both;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-o-column-count: 2;
	-o-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	margin-bottom: 2em;
	width: 700px;

}

.columns0{
	clear: both;

	margin-bottom: 2em;
	width: 700px;

}

.columnshalf{
	clear: both;

	margin-bottom: 2em;
	width: 350px;

}

#slideshow-container{
		margin-top: 2em;
		margin-right: 1em;
		position: relative;
		height: 450px;
		/*float: left;*/


}
#slideshow{

	display: block;

}

#spacer {
	height: 1em;
	clear: left;
}


#slideshow img{

	left: 0px;
		float: left;
}

div#slideshow span.image-wrapper {
	display: block;

	top: 0;
	left: 0;
}

#test {
	display: block;
}



ul.thumbswcaption a:hover:after,
ul.thumbswcaption a:focus:after {
	content: attr(caption);
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-right: 10px;
	padding-top: 2px;
	width: auto;
	background: white;
	line-height: 1.1em;
	font-size: .7em;
	z-index: 899;
	/*margin-bottom: 18px;*/
	margin-left: 5px;
}

.redsquare {
	background-color: red;
	width: 50px;
	height: 50px;
	position: relative;
	display: inline;
	padding: 0;
	margin: 0;
}

ul.thumbswcaption li{
	position: relative;
}

#controls {
	display: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: white;
	z-index: 999;
	padding-top: 5px;
	padding-right: 5px;
	text-transform: uppercase;
	font-size: .8em;
	width: 220px;
}

#controls a{
	margin-right: 10px;
}

.ss-controls, .nav-controls {
	display: block;
}
.nav-controls{
	position: relative;
float: left;
}
.ss-controls {
	margin-right: 20px;
	float: right;
}


/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
    
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: gray; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}
