#shadowtop{

	top: 60px; !important
}

#shadowbottom{
	height: 63px;
	bottom: 24px; !important
}

#ul2 a li {
	margin-right: 20px; !important
}

/*body {
	background: yellow; !important
}*/


.gobackimg{
	z-index: -1;
	position: relative;
}

.shadow{
	z-index: -1;
}

ul.thumbswcaption a:hover:after,
ul.thumbswcaption a:focus:after, .try1 {
	content: attr(caption);
	color: black;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 8px;
	padding-right: 10px;
	padding-top: 5px;
	width: auto;
	line-height: 1.1em;
	font-size: .6em;
	z-index: 199000;
	margin-bottom: 3px; 
	background-color: white;
	font-weight: normal;
	font-style: normal;
	border:  0;
}

a {
	border: 0;
}

@font-face{ 
	font-family: 'Mako'; !important
    src: url('mako-regular-webfont.eot');
    src: url('mako-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('mako-regular-webfont.woff') format('woff'),
         url('mako-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

textarea {

	height: 5em; !important

}

